.accomplishments {
  @include section_padding;
  color: rgba($light-font-color, 0.8);
  background-color: $primary-color;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  &__certification {
    @include respond(md) {
      width: 90%;
    }
  }

  &__certification &__cert-name {
    font-size: 2.1rem;
  }

  &__cert-organization {
    font-weight: 300;
  }

  &__image {
    display: block;
    margin: 3rem auto;
    width: 60%;
    border-left: 1px solid black;
    border-right: 1px solid black;

    @include respond(md) {
      width: 80%;
    }
    @include respond(md) {
      width: 100%;
    }
  }

  &__description {
    text-align: center;
  }

  &__action {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}
