.header {
  height: 100vh;
  width: 100%;
  background-color: $primary-color;
  color: $light-font-color;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    text-align: center;
  }

  &__action {
    margin-top: 4rem;
  }
}
