.navigation {
  height: 8vh;
  width: 100%;
  position: fixed;
  border-bottom: 3px solid $tertiary-color;
  background-color: $primary-color;

  @include respond(md) {
    height: auto;
  }

  &__content {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include respond(md) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__logo-box {
    height: 8vh;
    display: flex;
    align-items: center;
    @include respond(md) {
      border-bottom: 3px solid $secondary-color;
      padding-left: 2rem;
    }
  }

  &__logo {
    height: 80%;
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;

    @include respond(md) {
      @include hide;
    }
  }

  &__item {
    display: inline-block;
    height: 100%;
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    height: 100%;
    &:link,
    &:visited {
      font-family: inherit;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      font-weight: 500;
      text-decoration: none;
      color: $light-font-color;
      text-transform: uppercase;
      transition: color 0.2s ease-in-out;
    }
    &:hover {
      color: $secondary-color;
    }
  }
}

.navigation__active {
  &-list {
    flex-direction: column;
  }

  &-item {
    padding: 2.5rem 3rem;
  }

  &-link {
    &:link,
    &:visited {
      font-size: 2rem;
    }
  }
}

// Accessible alternative to display: none;
.hide {
  @include respond(tab-land) {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
  }
}
