@mixin standard-box-shadow() {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

// Accessible hide

@mixin hide() {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

// Media Queries
@mixin respond($breakpoint) {
  @if $breakpoint == xs {
    // 420px
    @media only screen and (max-width: 26.25em) {
      @content;
    }
  }
  @if $breakpoint == sm {
    // 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == md {
    // 960px
    @media only screen and (max-width: 60em) {
      @content;
    }
  }

  @if $breakpoint == lg {
    // 1280px
    @media only screen and (max-width: 80em) {
      @content;
    }
  }

  @if $breakpoint == xl {
    // 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
