html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $dark-font-color;
}

.heading {
  &__primary {
    display: block;
    margin: 0;
    font-size: 7.5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    text-shadow: 0.5rem 1rem 2rem rgba(black, 0.4);

    @include respond(sm) {
      font-size: 6.7rem;
      letter-spacing: 1.5rem;
    }

    @include respond(xs) {
      font-size: 4.5rem;
      letter-spacing: 1.1rem;
    }

    @include respond(nano) {
      font-size: 3.7rem;
      letter-spacing: 1rem;
    }
    &--sub {
      display: block;
      font-size: 2.8rem;
      letter-spacing: 1.4rem;
      color: $secondary-color;
      text-shadow: 0.5rem 1rem 2rem rgba(black, 0.4);

      @include respond(xs) {
        font-size: 1.8rem;
        letter-spacing: 0.8rem;
      }
      @include respond(nano) {
        font-size: 1.5rem;
        letter-spacing: 0.7rem;
      }
    }
  }
}

.sections {
  &__title {
    font-size: 5rem;
    text-align: center;
    margin: 0 0 2rem 0;

    &--light {
      color: $light-font-color;
    }

    @include respond(sm) {
      font-size: 4.1rem;
    }
  }
  &__description {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.5rem;
    &--light {
      color: $light-font-color;
    }
    @include respond(sm) {
      font-size: 2rem;
    }
  }
}
